.p-dialog.p-component {
  border-radius: 12px !important;
  background-color: #fff !important;
  box-shadow: 0 10px 40px rgba(0, 0, 0, 0.2) !important;
}

.p-dialog .p-dialog-header {
  background: linear-gradient(to right, #2b0225, #5e2369);
  color: white;
  font-size: 1.2rem;
  font-weight: 600;
  padding: 1.25rem;
  border-top-left-radius: 12px;
  border-top-right-radius: 12px;
}

.p-dialog .p-dialog-content {
  padding: 2rem;
  background-color: #fafafa;
}

.add-form .form-group {
  display: flex;
  flex-direction: column;
  gap: 1rem;
}

.add-form input {
  padding: 0.5rem 0.75rem;
  border: 1px solid #ccc;
  border-radius: 6px;
  font-size: 1rem;
  width: 100%;
}

.form-actions {
  display: flex;
  justify-content: flex-end;
  gap: 1rem;
  margin-top: 1.5rem;
}
body .p-dialog-mask {
  background-color: rgba(0, 0, 0, 0.5) !important; /* opacidad del fondo */
  backdrop-filter: blur(1px); /* opcional: difumina lo que está detrás */
}